[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "flask>=3.1.1",
    "psutil>=7.0.0",
    "requests>=2.32.3",
    "werkzeug>=3.1.3",
    "authlib>=1.3.0",
]
